/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

li {
  list-style-type: none;
}

a {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

/* Buttons */
.transparent-btn {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 30px;
}

.green-btn {
  background-color: #7cbb02;
  border-radius: 5px;
  padding: 10px 30px;
}

.green-btn-big {
  background-color: #7cbb02;
  border-radius: 5px;
  padding: 20px;
}

/* Float Rules */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

/* Header */
header {
  width: 100%;
  /* height: 600px; */
  background-color: #0c325a;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 110% 100%;
}

/* Nav-Bar */
.header-nav {
  width: 100%;
}

.logo {
  padding-top: 25px;
  margin-right: 80px;
}

.sx-nav li {
  display: inline-block;
  line-height: 100px;
  padding-right: 20px;
}

.dx-nav li {
  text-align: right;
  display: inline-block;
  line-height: 100px;
  padding-left: 20px;
}

/* Jumbotron */
.jumbotron-container {
  position: relative;
  height: 400px;
}

.jumbotron {
  width: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.jumbotron h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 50px;
}

/* Pulsante HELP fixed */
.help-btn {
  position: fixed;
  right: 140px;
  bottom: 0;
  background-color: #d62828;
  border-radius: 5px 5px 0 0;
  padding: 10px 20px;
}

.help-btn a {
  font-size: 20px;
}
